# 忽略编译生成的文件
*.class
*.jar
*.war

# 忽略IDE和编辑器生成的文件
.idea/
.vscode/

# 忽略日志文件
*.log
*.pkl
# 忽略临时文件和缓存
*.tmp
*.cache

# 忽略系统文件
.DS_Store
Thumbs.db

# 忽略特定文件或文件夹
FR24/datas/temp/
node_modules/
FR24pj/
package-lock.json
package.json